<mat-card>
  <div class="recipe-view__header__time" *ngIf="elapsedTimePercent | async">
    <div
      class="recipe-view__header__time__bar"
      [style.width.%]="elapsedTimePercent | async"
    >
      <ng-template
        [ngTemplateOutlet]="percentInBar"
        [ngTemplateOutletContext]="{ $implicit: elapsedTimePercent | async }"
      ></ng-template>
    </div>
    <ng-template
      [ngTemplateOutlet]="percentageAfterBar"
      [ngTemplateOutletContext]="{ $implicit: elapsedTimePercent | async }"
    ></ng-template>
  </div>
  <mat-card-header>
    <mat-card-title> {{ recipe.name }}</mat-card-title>
    <mat-card-subtitle>
      Created at {{ recipe.created | date }}
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="(totalTime | async) != null">
      {{ totalTime | async | timeByNumberPipe }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions align="start">
    <div class="recipe-view__actions">
      <button
        *ngIf="(elapsedTimePercent | async) > 0"
        mat-icon-button
        (click)="resetRecipe.emit()"
      >
        <mat-icon fontIcon="replay"></mat-icon>
      </button>
      <div class="recipe-view__actions__end">
        <button mat-icon-button (click)="deleteRecipe.emit()">
          <mat-icon fontIcon="delete"></mat-icon>
        </button>

        <button mat-icon-button (click)="editRecipe.emit()">
          <mat-icon fontIcon="edit"></mat-icon>
        </button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>

<ng-template #percentageAfterBar let-percent>
  <span
    class="recipe-view__header__percent recipe-view__header__percent--accent"
    *ngIf="percent < 50"
    >{{ percent }}%</span
  >
</ng-template>
<ng-template #percentInBar let-percent>
  <span class="recipe-view__header__percent" *ngIf="percent >= 50"
    >{{ percent }}%</span
  >
</ng-template>
