:host {
  display: flex;
  align-items: center;
}
.ingredient-entry-detail {
  &__display {
    border-bottom: #666;
    display: flex;
    gap: 0.2rem;
    flex: 1;
    &__ingredient {
      flex: 1;
    }
    &__amount {
      font-weight: 600;
    }
    &__unit {
      color: var(--text-color-secondary);
    }
  }
}
