<div class="recipe" *ngIf="recipeService.$recipe | async">
  <ng-container *ngIf="(recipeService.$editMode | async) === true">
    <ng-container
      [ngTemplateOutlet]="editTemplate"
      [ngTemplateOutletContext]="{ $implicit: recipeService.$recipe | async }"
    ></ng-container>
  </ng-container>
  <ng-container *ngIf="(recipeService.$editMode | async) === false">
    <ng-container
      [ngTemplateOutlet]="viewingTemplate"
      [ngTemplateOutletContext]="{ $implicit: recipeService.$recipe | async }"
    ></ng-container>
  </ng-container>
  <ng-container
    [ngTemplateOutlet]="stepsTemplate"
    [ngTemplateOutletContext]="{ $implicit: recipeService.$recipe | async }"
  ></ng-container>
  <button
    *ngIf="(recipeService.$editMode | async) === true"
    (click)="addStep()"
    mat-raised-button
    color="accent"
  >
    Add Step
    <mat-icon>add</mat-icon>
  </button>
</div>

<ng-template #editTemplate let-recipe>
  <mat-card [formGroup]="recipeService.formGroup">
    <mat-card-header>
      <mat-card-title>
        <mat-form-field appearance="fill">
          <mat-label>Recipe Name</mat-label>
          <input formControlName="name" matInput name="name" />
        </mat-form-field>
      </mat-card-title>
      <mat-card-subtitle
        >Created at {{ recipe.created | date }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-icon-button (click)="cancel()">
        <mat-icon fontIcon="close"></mat-icon>
      </button>

      <button
        mat-icon-button
        (click)="save()"
        [disabled]="!recipeService.formGroup.valid"
      >
        <mat-icon fontIcon="done"></mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider>
  <!-- Ingredient List-->
</ng-template>

<ng-template #viewingTemplate let-recipe>
  <mat-card>
    <mat-card-header>
      <mat-card-title> {{ recipe.name }}</mat-card-title>
      <mat-card-subtitle
        >Created at {{ recipe.created | date }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-icon-button>
        <mat-icon fontIcon="share"></mat-icon>
      </button>
      <button mat-icon-button (click)="deleteRecipe()">
        <mat-icon fontIcon="delete"></mat-icon>
      </button>

      <button mat-icon-button (click)="toggleEditMode()">
        <mat-icon fontIcon="edit"></mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider>
  <!-- Ingredient List-->
</ng-template>

<ng-template #stepsTemplate let-recipe>
  <ng-container *ngFor="let step of recipe.steps; index as index">
    <cookin-step-detail
      [cookingStep]="step"
      (cookingStepChange)="recipeService.saveStep($event, index)"
    ></cookin-step-detail>
  </ng-container>
</ng-template>
