<div class="cookinshell-app">
  <div class="cookinshell-app-bar">
    <button
      mat-icon-button
      *ngIf="($backNavigation | async) === true"
      (click)="navigateBack()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="cookinshell-app-bar__title">CookinShell</span>
    <div></div>
  </div>
  <div class="cookinshell-app__bg">
    <div class="cookinshell-app__immersive-bg">
      <picture>
        <img
          class="cookinshell-app__immersive-bg__bleed__renderer"
          alt=""
          src="../assets/wsbg4000x2250.png"
        />
      </picture>
    </div>
    <div class="cookinshell-app__main-bg"></div>
  </div>
  <div class="cookinshell-app__content">
    <router-outlet></router-outlet>
  </div>
</div>
