<form [formGroup]="cookingStepForm">
  <mat-card>
    <mat-card-content>
      <div class="cookin-step">
        <div class="cookin-step__decision">
          <button
            mat-raised-button
            [color]="
              cookingStep?.type === CookingStepType.INSTRUCTION
                ? 'accent'
                : null
            "
            (click)="cookingStep.type = CookingStepType.INSTRUCTION"
          >
            Instruction
          </button>
          <button
            mat-raised-button
            [color]="
              cookingStep?.type === CookingStepType.TIMER ? 'accent' : null
            "
            (click)="cookingStep.type = CookingStepType.TIMER"
          >
            Timer
          </button>
        </div>
        <mat-divider></mat-divider>
        <div
          class="cookin-step__instruction"
          *ngIf="cookingStep?.type === CookingStepType.INSTRUCTION"
        >
          <mat-form-field class="cookinshell-textarea">
            <mat-label>Instruction</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div
          class="cookin-step__instruction"
          *ngIf="cookingStep?.type === CookingStepType.TIMER"
        >
          <mat-form-field>
            <mat-label>Time</mat-label>
            <input matInput type="time" formControlName="totalTime" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
