<div *ngIf="value">
  <ng-container
    *ngIf="editMode === false"
    [ngTemplateOutlet]="viewingCookingStep"
    [ngTemplateOutletContext]="{ $implicit: value }"
  ></ng-container>
  <ng-container
    *ngIf="editMode === true"
    [ngTemplateOutlet]="editCookingStep"
    [ngTemplateOutletContext]="{ $implicit: value }"
  ></ng-container>
</div>

<ng-template #viewingCookingStep let-step>
  <mat-card>
    <mat-card-header>
      <mat-card-title *ngIf="step?.title">
        <div class="cookin-step-viz__title">
          {{ step.title }}
          <div *ngIf="step?.totalTime" class="cookin-step-viz__title__time">
            {{ step.totalTime }}
          </div>
        </div>
      </mat-card-title>

      <mat-card-subtitle>
        <div>
          <div class="cookin-step-viz__instruction__text">
            {{ step.description }}
          </div>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div
        *ngIf="step?.totalTime"
        class="cookin-step-viz__timer"
        [class.cookin-step-viz__timer--finished]="
          step.totalTime <= step.elapsedTime
        "
      >
        <div class="cookin-sep-viz__timer__widget">
          <div class="cookin-sep-viz__timer__button">
            <button mat-icon-button>
              <mat-icon> play_arrow</mat-icon>
            </button>
          </div>
          <div class="cookin-sep-viz__timer__time">
            {{ step?.elapsedTime ?? "00:00" + " | " + step.totalTime }}
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions
      align="end"
      *ngIf="(recipeService.$editMode | async) === true"
    >
      <button mat-icon-button (click)="deleteAction()">
        <mat-icon fontIcon="delete"></mat-icon>
      </button>
      <button mat-icon-button (click)="edit()">
        <mat-icon fontIcon="edit"></mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
<ng-template #editCookingStep let-step>
  <mat-card [formGroup]="formGroup">
    <mat-card-header>
      <mat-card-title>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input formControlName="title" matInput name="title" />
        </mat-form-field>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea
          formControlName="description"
          matInput
          name="description"
        ></textarea>
      </mat-form-field>

      <time-input
        formControlName="totalTime"
        label="Total Time"
        placeholder="HH:MM"
        [name]="'totalTimeCookingStep' + step.id"
      ></time-input>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button (click)="cancel()">
        <mat-icon fontIcon="close"></mat-icon>
      </button>
      <button mat-icon-button (click)="save()">
        <mat-icon fontIcon="done"></mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
